<div class="mt-5">
  <form method="post" action="">
  <div class="mb-3">
    <label for="search-input" class="form-label">Từ Khóa</label>
    <input type="text" class="form-control" name="q"  placeholder="Nhập Từ Khóa ..." >
  </div>
  <button type="submit" class="btn-primary btn">Submit</button>
</form>
</div>